<!DOCTYPE html>

<html>
<head>
  <title>ApiTester</title>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">  
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href=/static/css/jqtree.css type="text/css"/>
	<link rel="stylesheet" href=/static/css/index.css type="text/css"/>
	<!--https://github.com/pandao/editor.md/blob/master/examples/delay-renderer-preview.html-->
	<!--http://mbraak.github.io/jqTree/-->
	<!---http://swisnl.github.io/jQuery-contextMenu/demo.html-->
	<style>

	</style>
</head>
<body>

	<!---BEGIN   HEADER-->
	<nav class="navbar api-header" id="api-header" role="navigation">
	    <div class="container">
			<div class="row">
				<div class="col-xs-3">
					<div class="navbar-header">
				    		<a class="navbar-brand" href="#">ApiTester</a>
				    </div>
				</div>
				<div class="col-xs-9">
				    <div>
					    <ul class="nav navbar-nav header-menu" style="">
				            <li class="active" ><a href="#">Write Document</a></li>
							<li ><a href="#">Http Online Tester</a></li>
							<li><a href="#">About Me</a></li>
				        </ul>  
				    </div>
				</div>
			</div>
		</div>
	</nav>
	<!---END   HEADER-->
	<div class="container api-center" >
		<div class="row">
			<div class="col-xs-3 api-content-index">
				<div class="caption"  >
					<button type="button" class="btn btn-default navbar-btn glyphicon glyphicon-edit btn-sm context-menu-one " id="edit_btn">&nbsp;Menu&nbsp;</button>
				</div>
				<div class="content"  id="tree">
				
				</div>
			</div>
			<div class="col-xs-9 api-content-index-view">		
				
			</div>
		</div>
	</div>



<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"> </script>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/static/js/tree.jquery.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<link rel="stylesheet" href="/static/css/jquery.contextMenu.min.css" type="text/css" media="screen">
<script type="text/javascript" src="/static/js/jquery.ui.position.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.contextMenu.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.extends.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>
